<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
<p>
  <strong>Genre:</strong>
  <%= @note.genre %>
</p>
<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>
<p>
  <strong>contents:</strong>
  <%= @note.contents %>
</p>
</div>
</div>
</div>
