<div class="container">
  <div class="intro">
      <h1 class="text-center title">・Notebook・</h1>
      <h2 class="text-center subtitle">This page is a page where you can check the details of each note or a comment.</h2>
  </div>
  <div class="row row-show">
    <div class="col-md-12 center-block text-center">
      <p>
        <h3 class="strong">・Genre・</h3><br>
        <h4 class="instance"><%= @note.genre%></h4>
      </p>
      <p>
        <h3 class="strong">・Title・</h3><br>
        <h4 class="instance"><%= @note.title%></h4>
      </p>
      <p>
        <h3 class="strong">・contents・</h3><br>
        <p class="instance"><%= @note.contents%></p>
      </p>
    </div>
  </div>
</div>
