<div class="highlight-blue">
    <div class="container">
        <div class="intro">
            <h1 class="text-center tweetpage">This is the page where you can see the contents of all tweets</h1>
            <h3 class="text-center tweetpage">&#x1f447;All of your tweet content should be displayed below.&#x1f447;</h3>
      <% @tweet.each do |tweet| %>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 display-box">
            <h3 class="text-center">

              <tr>
                <td><%= tweet.text %></td>
              </tr>
            </h3>
          </div>
        </div>
      <% end %>
        <a class="btn btn-primary btn-lg btn-circle1 btn-xl center-block" role="button" href="#"><i class="glyphicon glyphicon-list"></i></a>
        </div>
        <div class="buttons"></div>
    </div>
</div>
