<div class="highlight-blue">
    <div class="container">
        <div class="intro">
          <%= form_for @tweet,url: tweets_path do |f| %>
            <h1 class="text-center tweetpage">This is tweet page</h1>
            <h3 class="text-center tweetpage">Please enter the content you want to tweet in the bottom form.</h3>

            <p class="text-center">
              <%= f.label :text, class: "text-center" %><br>
              <%= f.text_area :text, class: "text-center"%>
            </p>


        </div>
        <div class="buttons"><a class="btn btn-primary btn-lg btn-circle1 btn-xl center-block" role="button" href="#"><i class="glyphicon glyphicon-send"></i></a></div>
  <%end%>
    </div>
</div>
