<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h1 class="text-center title">User list</h1>
            <h2 class="text-center subtitle">Here you can see all the users who created the account.</h2>
        </div>
        <div class="row people">
          <%@user.each do |user|%>
            <div class="col-md-4 item">
                <div class="box">
                    <h3 class="name text-center username"><%=image_tag user.image.url, class: 'rounded-circle'%>　<%=user.username%></h3>
                    <p class="title text-center"><%=user.sex%></p>
                    <p class="description text-center"><%=user.description%></p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
          <%end%>
        </div>
    </div>
</div>
