<div class="features-boxed">
    <div class="container">
        <div class="row">
            <div class="intro">
                <h2 class="text-center">pechakuchaってなに？</h2>
                <h4 class="text-center">ペチャクチャは皆が自由にスポーツについて話すことができ、皆が自由にスポーツノートを書くことができるアプリケーションです。</h4>
            </div>
        </div>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Write your thoughts on the sports note more and more!</h3>
                    <p class="description">どんどん思ったことをスポーツノートに書いて！</p><a href="/notes/new" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Please tweet! Like a twitter</h3>
                    <p class="description">どんどん思ったことを呟いて！Twitterみたいに！</p><a href="/tweets/new" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Let's make friends with many people!</h3>
                    <p class="description">どんどんフォローして多くの人と友達になろう！</p><a href="/pages#index" class="learn-more">Learn more »</a></div>
            </div>
        </div>
        <div class="row self-produce">
            <div class="col-md-12 text-center self-produce">
                <h2 class="self-introduction">・SELF　INTRODUCTION・</h2>
            </div>
        </div>
        <div class="row row4">
            <div class="col-md-4 self-introduction-box">
                <div class="box">
                    <h3 class="text-center font">Basic information</h3>
                    <h4 class="text-center font"> ・Developer・</h4><p class="text-center my-information">GAKU</p>
                    <h4 class="text-center font"> ・Age・</h4><p class="text-center my-information">21</p>
                    <h4 class="text-center font"> ・Job category・</h4><p class="text-center my-information">student</p>
                    <h4 class="text-center font"> ・Used programming language・</h4><p class="text-center my-information">html　css　ruby　javascript</p>
                    <h4 class="text-center font"> ・Used Framework・</h4><p class="text-center my-information">bootstrap　JQuery　Rubyonrails </p>
                    <h4 class="text-center font"> ・Production period・</h4><p class="text-center my-information">about　1month</p>
                    <h4 class="text-center font"> ・Learning period・</h4><p class="text-center my-information">3month</p>
                </div>
            </div>
            <div class="col-md-8 self-introduction-box">
                <div class="box">
                    <h3 class="text-center font">Other　information </h3>
                    <h4 class="text-center font">&#x1f447;My SNS acount&#x1f447;</h4>
                    <h5 class="text-center font">please　follow　me!!! </h5>
                        <div class="social text-center">
                            <a href="https://twitter.com/GeminiTennis?lang=ja"><%= image_tag 'icons/twitter.png', class: 'topic-index-icon' %></a>
                            <a href="https://www.instagram.com/tennis_0521/"><%= image_tag 'icons/instagram.png', class: 'topic-index-icon' %></a>
                            <p class="text-center">自分の初めて作ったWebアプリケーションです。全然立派なものではありませんが３ヶ月間没頭しました。今後は、２作目のWebアプリケーションの作成に取り掛かろうと思います。
                            何か質問などがあれば上記のアカウントまで連絡ください！！！ </p>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
