<div class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">pechakuchaってなに？</h2>
            <h4 class="text-center">ペチャクチャは皆が自由にスポーツについて話すことができ、皆が自由にスポーツノートを書くことができるアプリケーションです。</h4>
        </div>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Write your thoughts on the sports note more and more!</h3>
                    <p class="description">どんどん思ったことをスポーツノートに書いて！</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Please tweet! Like a twitter</h3>
                    <p class="description">どんどん思ったことを呟いて！Twitterみたいに！</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Let's make friends with many people!</h3>
                    <p class="description">どんどんフォローして多くの人と友達になろう！</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
        </div>
    </div>
</div>
