<div class="container">
    <div class="row">
        <div class="col-md-6 selects-col"><h1 class="Tweet text-center">・Tweet・</h1><a href="/tweets/new" class="btn btn-primary btn-lg btn-circle1 btn-xl center-block"><i class="glyphicon glyphicon-send"></i> </a>
        <h3 class="text-center subtitle">Let's tweet!!!</h3>
        <a href="/" class="learn-more text-center">Learn more »</a>



        </div>
        <div class="col-md-6 selects-col"><h1 class="Note text-center">・Note・</h1><a href="#" class="btn btn-success btn-lg btn-circle2 btn-xl center-block"><i class="glyphicon glyphicon-pencil"></i> </a>
        <h3 class="text-center subtitle">Let’s write a notebook!!!</h3>
        <a href="/" class="learn-more text-center">Learn more »</a>




        </div>
    </div>
</div>
