/*ナビゲーションバーの生成*/
.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

/*sign inページのscss*/
.register-photo {
  background:#49d6ff;
  padding:80px 0;
  .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
    .projectname{
      font-family: 'Wendy One', sans-serif;
    }
    .form1 {
      padding:40px;
      display:table-cell;
      width:400px;
      background-color:#ffffff;
      padding:40px 60px;
      color:#505e6c;
      h2{
        font-family: 'Wendy One', sans-serif;
      }
      .btn-block{
        border-radius:25px;
        background: #ff8181;
}
}
}
}
/*loginページのscss*/
.login-clean {
   form {
     .form-group {
       .btn-white{
         border-radius: 25px;
         background: #ff8181;
       }
       .btn-primary {
background:#eb3b60;
}
       .form-control {
  background:#f7f9fc;
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:8px;
  height:42px;
}


  margin-bottom:1rem;
}


     .illustration {
  text-align:center;
  padding:0 0 20px;
  font-size:100px;
  color:rgb(244,71,107);
}


     .sr-only {
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  overflow:hidden;
  clip:rect(0,0,0,0);
  white-space:nowrap;
  border:0;
}


  max-width:320px;
  width:90%;
  margin:0 auto;
  background-color:#ffffff;
  padding:40px;
  border-radius:4px;
  color:#505e6c;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}


  background:#f1f7fc;
  padding:80px 0;
}


/*help pageのscss*/
.features-boxed {
  color:#313437;
  background-color:#49d6ff;
    .container {
      .row4{
        .self-introduction-box{
          .box{
            .my-information{
              font-family: 'Noto Serif', serif;
            }
            .font{
              font-family: 'Wendy One', sans-serif;
            }
            background-color: #fff;
            padding:30px;
            margin-bottom:30px; 
          }
        }
      }
      .self-produce{
        .self-produce{
         .self-introduction{
          font-family: 'Wendy One', sans-serif;
         }
        }
      }
      max-width: 1140px;
      padding-right:15px;
      padding-left:15px;
      margin-right:auto;
      margin-left:auto;
    .features{
      padding: 50px 0;
}
    .justify-content-center {
      -ms-flex-pack:center!important;
      justify-content:center!important;
}
    .row {
      display:-ms-flexbox;
      display:flex;
      -ms-flex-wrap:wrap;
      flex-wrap:wrap;
      margin-right:-15px;
      margin-left:-15px;
}
    .item {
      text-align:center;
      position: relative;
      .box {
        .name {
          font-family: 'Wendy One', sans-serif;
        }
        .learn-more{
          font-family: 'Wendy One', sans-serif;
        }
      }
}


      .intro {
        h2 {
          font-family: 'Wendy One', sans-serif;
          margin-bottom:25px;
          padding-top:25px;
          font-size:24px;
          font-weight:bold;
          margin-bottom:40px;
          padding-top:40px;
          color:inherit;
          h4 {
            color: #7d8285;
            margin-top: 0;
            margin-bottom: 1rem;
}
}
}
}
}

/*selects画面のscss*/
.container{
  .row{
    .selects-col{
      .hello-username{
        font-family: 'Wendy One', sans-serif;
      }
      .Wellcome{
        font-family: 'Wendy One', sans-serif;
      }
      .Tweet{
        font-family: 'Wendy One', sans-serif;
      }
      .btn-circle1.btn-xl{
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
      }
      .subtitle{
        font-family: 'Wendy One', sans-serif;
      }
      .Note{
        font-family: 'Wendy One', sans-serif;
      }
      .btn-circle2.btn-xl{
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;

      }
      .learn-more{
        text-align:center;
      }
    }
  }
}

/*tweetページのscss*/
.testimonials-clean{
  color:#000000;
  background-color:#49d6ff;
  .container{
    .intro{
      .btn{
        background-color: #ff57b9;
      }
      .title{
        font-family: 'Wendy One', sans-serif;
      }
      .subtitle{
        font-family: 'Wendy One', sans-serif;
      }
    }
    .people{
      .item{
        .rounded-circle{
          border-radius: 40px;
          width: 80px;
          height: 80px;
        }
      .box{
        padding: 35px
      }
      }
    }
  }
}

/*tweet確認ページも生成*/
.highlight-blue {
  color:222222;
  background-color:#49d6ff;
  padding:50px 0;
  .container{
    .intro{
      .text-center{
        text-align: center;
        border-radius: 25px;
      }
      .tweetpage{
        font-family: 'Wendy One', sans-serif;
      }
      .row{
        .display-box{
          .text-center{
            font-family: 'Wendy One', sans-serif;
          }
          border: solid 2px rgba(1,1,6,0.17);
          border-radius: 10px;
        }
      }
    }
    .btn-circle1.btn-xl{
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      font-size: 24px;
      line-height: 1.33;
      border-radius: 35px;
    }
    .tweet-text{
      text-align: center;
    }
  }
  }

/*note作成ページのscss*/
.container{
  .box-all{
    .row{
      .col-group{
        .acount{
          font-family: 'Wendy One', sans-serif;
        }
      }
    }
    .box-all-1{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border: solid 0.5px #cfcef4;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.22);

      .row{
        .col-group{
        .btn-circle.btn-xl{
          width: 70px;
          height: 70px;
          padding: 10px 16px;
          font-size: 24px;
          line-height: 1.33;
          border-radius: 35px;
        }
        .label{
        font-family: 'Wendy One', sans-serif;
        }
        .acount{
        font-family: 'Wendy One', sans-serif;
        }
        .field{
        border-radius: 20px;
        }
      }
    }
    }
  }
}

/*note一覧画面のscss*/
.features-boxed{
  .container{
    .intro{
      .btn{
        background-color: #ff57b9;
      }
      .title{
        font-family: 'Wendy One', sans-serif;
      }
    }
  .features{
    .item{
      padding: 0.5em 1em;
      margin: 2em 0;
      color: #5d627b;
      background: white;
      border: solid 0.5px #cfcef4;
      box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.22);}

      .box{
        .user-information{
        .rounded-circle{
          border-radius: 20px;
          width: 40px;
          height: 40px;
        }
        }
        .description1{
        font-family: 'Wendy One', sans-serif;
        }
        .description2{
        font-family: 'Wendy One', sans-serif;
        font-family: 'Noto Serif', serif;
        overflow: hidden;
        }
      }
    }
  }
  }

/*note投稿確認画面*/
.container{
  .intro{
    .title{
      font-family: 'Wendy One', sans-serif;
    }
    .subtitle{
      font-family: 'Wendy One', sans-serif;
    }
  }
  .row-show{
    .text-center{
      padding: 0.5em 1em;
      margin: 2em 0;
      color: #5d627b;
      background: white;
      border: solid 0.5px #cfcef4;
      box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.22);
      .strong{
        font-family: 'Wendy One', sans-serif;
      }
      .instance{
        font-family: 'Noto Serif', serif;
      }
    }
  }
}

/*ユーザーの自己紹介ページのcss*/
.container{
  .row{
    .title{
      .hello{
        font-family: 'Wendy One', sans-serif;
      }
      .sub-text{
        font-family: 'Wendy One', sans-serif;
      }
    }
      .item{
        .rounded-circle{
          border-radius: 70px;
          height: 140px;
          width: 140px;
        }
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #5d627b;
        background: white;
        border: solid 0.5px #cfcef4;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.22);
    }
  }
}

/*いいね一覧のscss*/
.container{
  .intro{
    .title{
      font-family: 'Wendy One', sans-serif;
    }
    .subtitle{
      font-family: 'Wendy One', sans-serif;
    }
  }
}

/*登録済みユーザー一覧画面のscss*/
.team-boxed{
  .container{
    .intro{
      .title{
        font-family: 'Wendy One', sans-serif;
      }
      .subtitle{
        font-family: 'Wendy One', sans-serif;
      }
    }
    .people{
      .item{
        .box{
          .username{
            font-family: 'Wendy One', sans-serif;
          }
        }
      }
    }
  }
}
/*unffolwボタンの色*/
.unfollow-button{
  background-color: #ff5c43;
}